*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    height:70px;
    background:#776bc8;
    display:flex;
    align-items: center;
}
.header-left{
    display:flex;
    align-items: center;

    
}
.header-mid{
    display:flex;
    justify-content: center;
    
}
.discussions-container{
    display: flex;
    align-items: center;
    
}
.line-gradient1{
    
    
    margin-left:20px;
    width:100%;
    height:2px;
    
    
    background-image: linear-gradient(to left,white,white );
    transform: translate(0,15px);

}
.active{
    background-color: #453b8c;
}

.header-mid a{
    text-decoration: none;
    color:#ffffff;

}
.askBeroe{
    display:none;
}
.user{
    display:none;
}
.header-right{
    display:flex;
    margin-left:auto;
    justify-content: center;
    align-items: center;
}
.header-right input{
    display:none
}
.circle1{
    
    border:2px solid #ffffff;
        
    width:60px;
    border-radius: 50%;
    padding:5px 2px;
    font-size:22px;
    margin-left:5px;
       
}

.icon1{
    width:30px;
    height:30px;
    object-fit: contain;
    margin-left:10px;
    margin-right:40px;
    cursor: pointer;
}
.icon2{
    width:30px;
    height:30px;
    object-fit: contain;
    margin-left:auto;
    margin-right:10px;
    
    
}
/* .beroe{
    margin-left:120.125%;
} */
.question{
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size:18px;
    color:#ffffff;
    width:30px;
    text-align:center;
    padding-top:2.5px;
    padding-bottom:2.5px;
    margin-left:auto;
    margin-right:15px;
}
#dropmenu{
    display:none;
}
#dropmenu li{
    list-style: none;
}
#dropmenu li a{
    display:block;
    text-decoration: none;
    background:#685bb9;
    height:40px ;
    padding-top:10px;
    padding-left:25px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color:#ffffff;

}
#dropmenu li a:hover{
    background:#4e448b;
}
nav{
    display:none;
}
.topic{
    padding-bottom:20px;
    background:#574e92;
    width:100%;
    position:relative;
    padding-left:20px;
    /* padding-top:30px */
    /* height:150px; */

}
.discussions{
    display:inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-top:30px;
    


}
.Commercial{
    display:inline-block;
    font-family: 'Titillium', sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top:33px;
    max-width:85%;
}

section{
    padding:30px 21px;
    background:#f6f6f6;
}
.heading{
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    color:#464646;
    font-weight: 600;
    margin-bottom:21px;
}
.comm{
    font-size:12px;
    font-family: 'Montserrat', sans-serif;
    color:#5d52a8;
    margin-bottom: 3px;
}
.text{
    display:inline-block;
    font-size:16px;
    width:78.125%;
    max-width:400px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
/* .context{
    position: relative;

    left:40px;
} */
.context2{
    display: none;
}
.cell{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #929292;
    padding-right: 5px;
    padding-bottom:10px;
    padding-top:0px;
    height: 19px;
}
.cell::after{
    content:'|';
    padding-left:5px;
    padding-right:5px;

}
.cell:last-child::after{
    content:' ';
}

.cell-left{
    padding-left:5px;
}

.cellgrid{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    margin-top:10px;
    flex-wrap: wrap;
}

.plain-text{
    margin-top:21px;
    font-size:16px;
    color:#929292;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.44px;

}
/* section a{
    display:inline-block;
    width: 65px;
    height: 19px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5d52a8;
    margin-top:12px;
} */
.gap{
    background:#b1aaaa;
    height:15px;
}
article{
    padding:30px 21px;
    background:#ffffff;
    
}
footer{
    height:41px;
    margin-top:31px;
    background:#5d52a8;
}
aside{
    display:none;
}
section a{
    display:inline-block;
    margin-top:12px;
    
    height: 19px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5d52a8;
}
article a{
    display:inline-block;
    margin-top:12px;
    
    height: 19px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5d52a8;
}

@media (min-width:1280px){
    header{
        height:54px;
    }
    .line-gradient1{
        display: none;
    }
    .header-right{
        margin-left:auto;
        margin-right:40px;
    }
    .header-right input{
        display:inline-block;
        height:54px;
        width:350px;
    }
    .header-right input::placeholder{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #5d52a8;
        padding-left:14.4px;
        padding-top:14px;
       
    }
    .discussions{
        margin-top:55px;
        font-size:18px;
        margin-left:40px;
        
    }
    .topic{
        height:189px;
    }
    .Commercial{
        margin-left:40px;
        font-size:46px;
        margin-bottom:28px;
    }
    .dropcircle{
    
        margin-left:20px;
        transform: translate(0px, 0px);
    }
    .header-left{
        display:none;
    }
    .beroe{
        margin:0;
        margin-left:20px;
    }
    nav{
        display:block;
    }
    .nav{
        display:flex;
        
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #685bb9;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        
    
    }
    .nav li{
        list-style:none;
        
        
    
    
    }
    
    .nav li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        font-size: 16px;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        height:100%;
        
    
    }
    .nav li a:hover{
        background: #312b58;
    }
    .nav li:last-child{
        margin-left: auto;
        
    }
    .icon2{
        display:none;
    }
    .user{
        display:inline-block;
        margin-right:10px;
    }
    .circle{
        border:2px solid #ffffff;
    
        width:60px;
        border-radius: 50%;
        padding:4px 18px;
        font-size:22px;
        margin-left:10px;
    }
    .hi{
        display: inline-block;
        padding-left:5px;
        margin-right:10px;
    }
  
    .user{
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;

    }
    .question{
        border: 2px solid #ffffff;
        display:inline-block;
        border-radius: 50%;
        font-size:26px;
        color:#ffffff;
        width:42px;
        height:42px;
        text-align:center;
        padding-top:2.5px;
        padding-bottom:2.5px;
        margin-left:auto;
        margin-right:15px;
        padding-left:5px;
        padding-right:4px;

        
    }
    .header-right a{
        text-decoration: none;
        margin-left:15px;
    }
    .askBeroe{
        display:inline;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
    section{
        padding:30px 21px;
        background:#f1efef;
        margin-left:40px;
        width:61.56%;
        min-width:0;
        margin-top:34px;
    }
    .gap{
        display:none;
    }
    article{
        padding:30px 40px;
        width:61.56%;
        background:#ffffff;
        
    }
    .text{
        display:inline;
        font-size:16px;
        
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }
    aside{
        display:inline-block;
        position:absolute;
        top:183px;
        right:40px;
        background:#f6f6f6;
        width:376px;
        padding-bottom:30px;
        
    }
    .num1{
        display:inline-block;
        margin-left:28px;
        margin-top:48px;
        text-align:center;
        font-size:44px;
        /* padding-left:28px;
        padding-top:48px; */
        width:155px;
        height:48px;
        font-family: 'Titillium Web', sans-serif;
        color:#636363;
    }
    .num2{
        display:inline-block;
        margin-right:28px;
        margin-top:48px;
        text-align:center;
        font-size:40px;
        /* padding-left:28px;
        padding-top:48px; */
        width:155px;
        height:48px;
        font-family: 'Titillium Web', sans-serif;
        color:#636363;
    
    }
    .text1{
        display:inline-block;
        margin-left:28px;
        margin-top:2px;
        text-align:center;
        font-size:16px;
        /* padding-left:28px;
        padding-top:48px; */
        width:155px;
        height:30px;
        font-family: 'Titillium Web', sans-serif;
        color:#464646;
    
    }
    .text2{
        display:inline-block;
        margin-right:28px;
        margin-top:2px;
        text-align:center;
        font-size:16px;
        /* padding-left:28px;
        padding-top:48px; */
        width:155px;
        height:30px;
        font-family: 'Titillium Web', sans-serif;
        color:#464646;
    
    }
    .asidecontent{
        padding-left:20px;
        padding-top:46px;
        padding-right:20px;
    }
    aside a{
        display:inline-block;
        margin-top:12px;
        
        height: 19px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #5d52a8;
    }
    .context{
        display:none;
    }
    .context2{
        display:inline-block;
        width: 32px;
        height: 32px;
        object-fit: contain;
         margin-left:5px;
    }
    .removable{
        display:none;
    }
    .line-gradient{
        display:inline-block;
        margin-top:9px;
        margin-left:15px;
        width:70%;
        height:2px;
        background-image: linear-gradient(to left, rgba(146, 146, 146, 0), #929292 );

    }
    .section-heading{
        display: flex;
        align-content: center;
        
    }
    .drop1{
        transform: translate(2px,-2px);
    }
}
@media (min-width:780px) and (max-width:1279px){
    header{
        height:54px;
    }
    .header-right{
        margin-left:auto;
        margin-right:40px;
    }
    .header-right input{
        display:inline-block;
        height:54px;
        width:200px;
    }
    .header-right input::placeholder{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #5d52a8;
        padding-left:14.4px;
        padding-top:14px;
       
    }
    .header-left{
        display:none;
    }
    .beroe{
        margin:0;
        margin-left:20px;
    }
    nav{
        display:block;
    }
    .nav{
        display:flex;
        
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #685bb9;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        
    
    }
    .nav li{
        list-style:none;
        
        
    
    
    }
    
    .nav li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        font-size: 16px;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        height:100%;
        
    
    }
    .nav li a:hover{
        background: #312b58;
    }
    .nav li:last-child{
        margin-left: auto;
        
    }
    .icon2{
        display:none;
    }
    .user{
        display:inline-block;
        margin-right:12px;
    }
    .drop1{
        transform: translate(2px,-2px);
    }
    .circle{
        border:2px solid #ffffff;
    
        width:60px;
        border-radius: 50%;
        padding:4px 18px;
        font-size:22px;
        margin-left:10px;
    }
    .hi{
        padding-left:5px;
    }
    .user{
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;

    }
    .question{
        border: 2px solid #ffffff;
        display:inline-block;
        border-radius: 50%;
        font-size:26px;
        color:#ffffff;
        width:42px;
        height:42px;
        text-align:center;
        padding-top:2.5px;
        padding-bottom:2.5px;
        margin-left:auto;
        margin-right:15px;
        padding-left:4px;
        padding-right:4px;

        
    }
    .header-right a{
        text-decoration: none;
        margin-left:15px;
    }
    .askBeroe{
        display:inline;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
    }
    .dropcircle{
    
        margin-left:20px;
        transform: translate(0px, 5px);
    }
    .Commercial{
        font-size: 2rem;
    }
   

}
@media (max-width:779px){
    .header-mid{
        display:flex;
        justify-content: center;
        flex: 1;
    }
    

}
@media (min-width:540px) and (max-width:779px){
    .dropcircle{
        transform: translate(10px, 5px);
    }
}
